.div1{
  background-color: #fb9300;
  height: 400px;
  width: 270px;
  display: inline-block;
  position: relative;
  border-radius: 12px 0px 0px 12px;
}
.div2{
  background-color: #02475e;
  display: inline-block;
  height: 400px;
  width: 270px;
  position: relative;
  right: 4px;
}
.div3{
  background-color: #34656d;
  display: inline-block;
  height: 400px;
  width: 270px;
  position: relative;
  right: 8px;
  border-radius: 0px 12px 12px 0px;
}
.div-main{
  position: relative;
  left: 380px;
  top: 150px;
}
.attribution{

}
h1{
  color: white;
  padding-left: 45px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bolder;
  width: 0.8em;
}
p{
  color: white;
  padding-left: 43px;
  padding-right: 43px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.button1{
  background-color: white;
  border:none;
  height: 34px;
  width: 120px;
  position: relative;
  top: 50px;
  left: 80px;
  color: #fb9300;
  border-radius: 15px;
}
.button2{
  background-color: white;
  border:none;
  height: 34px;
  width: 120px;
  position: relative;
  top: 50px;
  left: 80px;
  color: #02475e;
  border-radius: 15px;
}
.button3{
  background-color: white;
  border:none;
  height: 34px;
  width: 120px;
  position: relative;
  top: 50px;
  left: 80px;
  color: #34656d;
  border-radius: 15px;
}
img{
  padding-left: 45px;
  padding-top: 25px;
}
.attribution{
  display: inline-block;
  position: relative;
  top: 240px;
  left: 580px;
}
